@import "tailwindcss";
@theme{
    --color-gray-800: #6B8F71;
    --color-gray-700: #FF8C42;
    --color-gray-600: ##333333;
    --color-amber-200: #FDF6F0;
    --color-gray-900: #364739;
    --color-gray-300: #FDF6F0;
    --color-orange-300: #A05C4D;

}
footer{
    --color-gray-800: #6B8F71;
}
